.ietvars {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(146, 223, 233);

}

h1{
    text-align: center;
    background: rgb(204, 135, 221);
    color: rgb(172, 24, 185);
}

ul {
    text-align: center;
    padding: 0px;

}

li {
    display: inline-block;
}

.speles_lauk {
    width: 500px;
    background: rgb(222, 49, 238);
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.bloks {
    display: inline-block;
    background: rgb(146, 223, 233);
    width: 100px;
    height: 100px;
    margin: 5px;
    font-size: 45px;
}

a {
    background-color: rgb(204, 135, 221);
    color: rgb(172, 24, 185);
    border: 2px solid rgb(172, 24, 185);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover {
    background-color: white;
    color: rgb(204, 135, 221);
  }

  a:active {
    background-color: rgb(172, 24, 185);
    color: white;
  }